nav{
    background-color: #1877F2 !important;
}

.navbar-brand{
    color: #000 !important;
    font-weight: 500;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    background-color: #FFF !important;
    display: flex !important;
    align-items: center !important;
}

.navbar-brand i{
    display: flex !important;
    align-items: center !important;
    margin-left: 11px !important;

}

.nav-link{
    color: #FFF !important;
    font-weight: 500;
    text-transform: uppercase;
}


.nav-link:hover{
    color: #eae9e9 !important;
}

